$charcoal: #bbb;

.main-header {
  align-items: center;
  border-bottom: 1px solid $charcoal;
  display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}

.bg {
  // The image used
  // background-image: url('./../public/john-price-377101-unsplash.jpg');
  background-image: url('/Users/macbook33/wdi/projects/final-project/ski-trip-client/src/images/john-price-377101-unsplash.jpg');

  // Center and scale the image
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Full height
  height: 100%;
}
